{% extends 'base.html' %}}
{% block content %}
<head>
    <style>
        .custom-image{
            height: 400px;
            width: 400px;
            }
    </style>
</head>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ car.image.url }}"
                 class="img-fluid rounded-start custom-image"   alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ car.mark }}</h5>
                <p class="card-text">{{ car.model }}</p>
                <p class="card-text">{{ car.fuel }}</p>
                <p class="card-text">{{ car.year }}</p>
                <p class="card-text">{{ car.description }}</p>

                <p class="card-text">

                    {% if user.is_authenticated %}
                    <a href="{% url 'reserve' car.id %}" class="btn btn-primary">
                        Reserve
                    </a>
                    {% endif %}
                    </p>
                    <h3>Reservations</h3>
                    {% for reservation in reservations %}
                    <li class="list-group-item pb-3 pt-3">
                        <h5 class="card-title">
                            Reservation by {{ reservation.user.username }}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ reservation.start_date }}-{{ reservation.end_date }}
                        </h6>
                        {% if user.is_authenticated and user == reservation.user %}
                        <a class="btn btn-primary" href="{% url 'updatereservation' reservation.id %}">Update Reservation</a>
                        <a class="btn btn-danger" href="{% url 'deletereservation' reservation.id %}">Delete Reservation</a>
                        {% endif %}
                    </li>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}