{% extends 'base.html' %}
{% block content %}
<head>
  <style>
    .card {
      width: 360px;
      height: 450px;

    }
    .card-img-top{
        width: 360px;
        height:270px;
        }
  </style>
</head>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for car in cars %}
            <div v-for="car in cars" class="col">
                <div class="card">
                    <img class="card-img-top" src="{{ car.image.url }}" />
                    <div class="card-body">
                        <a href="{% url 'detail' car.id %}">
                        <h5 class="card-title fw-bold">{{ car.mark }} {{ car.model }}</h5>
                            </a>
                        <p class="card-text">{{ car.description }}</p>
                        <p class="card-text"><strong>Price per day: {{ car.price }}</strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock content %}